<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> report Misinformation</title>
    <!-- icons for the navagation bars will go here using remix icon-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- stylesheet -->
    <link href="./styles.css" rel="stylesheet">
</head>
<body>
    <!--header-->

        <header class="header">
            <nav id="navie">
                <a href="./graphs.html" class="list-link">Topics</a>
                <a href="./weekly.html" class="list-link">Weekly</a>
                <a href ="#report" class="list-link">Report</a>
                <button>
                    <a href="./index.html" class="ri-home-4-line"></a>
                </button>
                
                
            </nav>
        </header>
</body>
<!-- Script     -->
<script src="./main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-cloud/build/d3.layout.cloud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<div class="reported">
    <img src="\images\thankyou.png" alt="next">
    <div class="text-thx">THANK YOU</div>
    <div class="text-mis-reported">Misinformation reported</div>
</div>
</body>
</html>
