{% extends "base.html" %}



{% block title %} View Topic {% endblock %}


{% block body %}












<!-- ---------------- INFO starts HERE ------------------------------------ -->



<!-- --------- engagement explaination starts HERE ---------- -->


<section class="info" id="info">

    <div class="row">
        <div class="map-container2">
            <img src="{{graph.image}}">
        </div>

        <div class="content">
            <h3>About {{ graph.name }}</h3>
            <p>{{graph.long_description}}</p>
        </div>



    </div>

</section>










{%endblock%}










<!-- info section ends -->






















<!--------        REPORT MISINFORMATION          --------->


